# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.manifest
*.spec

# Ambientes virtuais
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/
*.code-workspace

# Dados sensíveis e pesados
*.xlsx
*.json
*.pkl
*.h5

# Modelos salvos
models/
*.joblib

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
desktop.ini